{% extends 'banner.html' %}
{% set username = username %}

{% block content %}

<div class = "page_title">
    <h2> Add Model </h2>
</div>

<form action="{{ url_for('addModel',make_id = make_id)}}" method = 'post'>

<dl>
    <dt>Name:</dt>
        <dd><input type ='text' size='30' name='name' ></dd>
    <dt>Description:</dt>
        <dd><textarea name = 'description' rows='5' cols='40' ></textarea></dd>
    <dt>Make:</dt>
    <select name = "make">
        {% for make in makes %}
        {% if current_make == make.name %}
        <option value = '{{make.name}}' selected>{{make.name}}</option>
        {% else %}
        <option value = '{{make.name}}'>{{make.name}}</option>
        {% endif %}
        {% endfor %}
    </select>
</dl>


<input type='submit' value='Submit'>

<a href = "{{url_for('showMake', make_id = make_id)}}"> Cancel </a>
</form>
{% endblock %}